{# src/Flyaround/CoreBundle/Resources/views/Blog/index.html.twig #}
<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Flyaround</title>

    <link rel="stylesheet" href="{{ asset('bundles/flyaroundcore/css/bootstrap.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/flyaroundcore/css/global.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/flyaroundcore/css/custom.css') }}" type="text/css"/>

    <!-- FONTS -->
    <style type="text/css">

        /*@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=6c3db46d-2348-428f-89b7-2e11bb00ab65&fontids=1122878,1122872");*/
        @font-face {
            font-family: "ITCAvantGardeW04-Book";
            src: url("{{ asset('bundles/flyaroundcore/fonts/1122878/daa5c000-4e87-40e9-9689-eec7fd2a19e1.eot?#iefix') }}");
            src: url("{{ asset('bundles/flyaroundcore/fonts/1122878/daa5c000-4e87-40e9-9689-eec7fd2a19e1.eot?#iefix') }}") format("eot"), url("{{ asset('bundles/flyaroundcore/fonts/1122878/e58aa4f4-3fa9-4138-9cc9-712e1955902c.woff') }}") format("woff"), url("{{ asset('bundles/flyaroundcore/fonts/1122878/b335d0cc-8594-4212-a73a-eb2a55d2b008.ttf') }}") format("truetype"), url("{{ asset('bundles/flyaroundcore/fonts/1122878/3fec63b6-5c06-495d-8bad-0555b665ab8e.svg#3fec63b6-5c06-495d-8bad-0555b665ab8e') }}") format("svg");
        }

        @font-face {
            font-family: "ITCAvantGardeW04-Bold";
            src: url("{{ asset('bundles/flyaroundcore/fonts/1122872/4440e247-5f11-4b81-81fc-4f2e5a9573ff.eot?#iefix') }}");
            src: url("{{ asset('bundles/flyaroundcore/fonts/fonts/1122872/4440e247-5f11-4b81-81fc-4f2e5a9573ff.eot?#iefix') }}") format("eot"), url("{{ asset('bundles/flyaroundcore/fonts/1122872/b4cf0471-a031-48a8-a02a-0000def6fd87.woff') }}") format("woff"), url("{{ asset('bundles/flyaroundcore/fonts/1122872/67eef87d-0308-420c-99da-8e75af66f09f.ttf') }}") format("truetype"), url("{{ asset('bundles/flyaroundcore/fonts/1122872/91b0afed-75b4-473d-a2ae-04a3679f2a1c.svg#91b0afed-75b4-473d-a2ae-04a3679f2a1c') }}") format("svg");
        }

    </style>

    <!-- favicon-->
    <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}">

</head>
<body>

<header>
    <div class="left">

        <a href="https://www.facebook.com/pages/Flyaround/541389942601829" target="_blank">
            <img class="icon" src="{{ asset('bundles/flyaroundcore/images/icon-fb.png') }}" alt="facebook" ></a>

        <a href="#"><img class="icon" src="{{ asset('bundles/flyaroundcore/images/reseau-social-96.png') }}" alt="email"></a>

        <a href="https://twitter.com/FlyaroundFR" target="_blank">
            <img class="icon" src="{{ asset('bundles/flyaroundcore/images/icon-twitter.png') }}" alt="twitter"></a>

        <a href="#" target="_blank"><img class="icon" src="{{ asset('bundles/flyaroundcore/images/reseau-social-94.png') }}" alt=""></a>

    </div>
    <div class="right">
        {% if app.user %}
            <div class="span2"><p>Bonjour {{ app.user.username }}</p></div>
            <a class="btn btn-primary span2" href="{{ path('flyaround_map_homepage') }}">Espace perso</a>
            <a class="btn btn-danger span2" href="{{ path('fos_user_security_logout') }}">Logout</a>
        {% else %}
            <a href="#register" role="button" class="" data-toggle="modal">
                <div class="col-md-6 user-btn">
                    <img class="icon" src="{{ asset('bundles/flyaroundcore/images/connexion.png') }}" alt="logo de Flyaround">
                    inscription
                </div>
            </a>

            <a href="#connexion" role="button" class="" data-toggle="modal">
                <div class="col-md-6 user-btn">
                    <img class="icon" src="{{ asset('bundles/flyaroundcore/images/cadenas.png') }}" alt="separateur">
                    connexion
                </div>
            </a>
        {% endif %}
    </div>
    <div class="clearfix"></div>
</header>

<div id="bg">
    <img style="width:100%;height:auto;" src="{{ asset('bundles/flyaroundcore/images/calvi.png') }}">
</div>
<div class="logo_centre">
    <a href="{{ path('homepage') }}">
        <img class="logo" src="{{ asset('bundles/flyaroundcore/images/logo-white.png') }}" alt="logo de Flyaround"
             width="230px">
        <img class="logo" src="{{ asset('bundles/flyaroundcore/images/logo-white-32.png') }}" alt="logo de Flyaround"
             width="auto">
    </a>
    <p> <h2>survoler, découvrir, partager</h2> </p>


</div>

<div id="first">
        <img id="logo1" src="{{ asset('bundles/flyaroundcore/images/plane.png') }}">
        <div id="firstbis">
            <p><strong>Survoler les plus beaux sites de France</strong></p>
            <p><strong>____________________</strong></p>
            <br></br>
            <p>Flyarround est une carte interactive enrichies par les utilisateurs du site.Grâce à Flyarround, découvrez autour de votre point d'envol, les plus beaux sites à voir classés par catégories</p>
        <br></br>
        <div class="buttonlog">
            <img src="{{ asset('bundles/flyaroundcore/images/icones-84.png') }}">
        <a href="#register" role="button" class="" data-toggle="modal"><p><strong>s'inscrire et s'envoler...</strong></p></a> 
        </div>
            <img id="desc1" src="{{ asset('bundles/flyaroundcore/images/desc1.png') }}">
        </div>
    </div>

    <div id="second">
        <img id="back1" src="{{ asset('bundles/flyaroundcore/images/back1.png') }}">
    </div>

    <div id="third">
        <img id="desc2" src="{{ asset('bundles/flyaroundcore/images/desc2.png') }}">
        <div id="thirdbis">
            <p><strong>Découvrir de nouveaux sites</strong></p>
            <p><strong>____________________</strong></p>
            <br></br>
            <p>Avec Flyarround, découvre de nouveaux sites. Ajoutes-les à ta Flylist pour les retenirs et aller les survoler lors de ton prochain vol. Ajoute une région ou les alentours d'un terrain pour être avertis lors de la création d'un nouveau site.</p> 
        <br></br>
        <div class="buttonlog">
            <img src="{{ asset('bundles/flyaroundcore/images/boussole.png') }}">
        <a href="#register" role="button" class="" data-toggle="modal"><p><strong>s'inscrire et découvrir...</strong></p></a>  
        </div>
            <img id="plane2" src="{{ asset('bundles/flyaroundcore/images/plane2.png') }}">
    </div>
    </div>

    <div id="four">
        <img id="back2" src="{{ asset('bundles/flyaroundcore/images/back2.png') }}">
    </div>

    <div id="fifth">
    <img id="plane3" src="{{ asset('bundles/flyaroundcore/images/plane3.png') }}">
        <div id="fifthbis">
            <p><strong>Survoler les plus beaux sites de France</strong></p>
            <p><strong>____________________</strong></p>
            <br></br>
            <p>Flyarround est une carte interactive enrichies par les utilisateurs du site.Grâce à Flyarround, découvrez autour de votre point d'envol, les plus beaux sites à voir classés par catégories</p>
        <br></br>
        <div class="buttonlog">
            <img src="{{ asset('bundles/flyaroundcore/images/ajouter-site.png') }}">
        <a href="#register" role="button" class="" data-toggle="modal"><p><strong>s'inscrire et enrichir...</strong></p></a> 
        </div>
        </div>
        <img id="desc3" src="{{ asset('bundles/flyaroundcore/images/desc3.png') }}">
    </div>

    <div id="six">
    <img id="desc4" src="{{ asset('bundles/flyaroundcore/images/desc4.png') }}">
        <div id="sixbis">
            <p><strong>Survoler les plus beaux sites de France</strong></p>
            <p><strong>____________________</strong></p>
            <br></br>
            <p>Flyarround est une carte interactive enrichies par les utilisateurs du site.Grâce à Flyarround, découvrez autour de votre point d'envol, les plus beaux sites à voir classés par catégories</p>
        <br></br>
        <div class="buttonlogbis">
            <img src="{{ asset('bundles/flyaroundcore/images/connexion.png') }}">
        <a href="#register" role="button" class="" data-toggle="modal"><p><strong>s'inscrire</strong></p></a>  
            <img id="plane4" src="{{ asset('bundles/flyaroundcore/images/plane4.png') }}">
        </div>
        </div>
    </div>

    <div id="seven">
        <img id="back3" src="{{ asset('bundles/flyaroundcore/images/back3.png') }}">
    </div>

<div id="suggestions" class="bg-grey">
    <div id="controls">
        <div class="left">
            <div>
                <img class="icon" src="{{ asset('bundles/flyaroundcore/images/sites-ajoutes.png') }}"
                     alt="sites-ajoutes">
                Les derniers sites ajoutés
            </div>
        		<a href="#connexion" role="button" class="" data-toggle="modal">
								<div>
                    <img class="icon" src="{{ asset('bundles/flyaroundcore/images/ajouter-site.png') }}"
                         alt="ajouter-site" style="margin-left: 10px;">
                    Ajouter un site
                </div>
            </a>
        </div>
        <div class="right">
            <img class="btn icon" id="left-arrow" src="{{ asset('bundles/flyaroundcore/images/left-arrow.png') }}"
                 alt="left-arrow">
            <img class="btn icon" id="right-arrow" src="{{ asset('bundles/flyaroundcore/images/right-arrow.png') }}"
                 alt="right-arrow" style="margin-left: 20px;">
        </div>
        <div class="clearfix"></div>
    </div>

    <div id="sites" class="carousel">
        <a href="#">
            <div class="thumbnail">
                <img class="miniature" src="{{ asset('bundles/flyaroundcore/images/corse4.jpg') }}" alt="corse">
                Calanques corses
                <hr>
                <img class="icon" src="{{ asset('bundles/flyaroundcore/images/geotheme-nature.png') }}"
                     alt="icon nature">
            </div>
        </a>
        <a href="#">
            <div class="thumbnail">
                <img class="miniature" src="{{ asset('bundles/flyaroundcore/images/millau.jpg') }}" alt="corse">
                Viaduc de Millau
                <hr>
                <img class="icon" src="{{ asset('bundles/flyaroundcore/images/geotheme-infrastructure.png') }}"
                     alt="icon nature">
            </div>
        </a>
        <a href="#">
            <div class="thumbnail">
                <img class="miniature" src="{{ asset('bundles/flyaroundcore/images/chateau.jpg') }}" alt="corse">
                Chateau de Chambord
                <hr>
                <img class="icon" src="{{ asset('bundles/flyaroundcore/images/geotheme-site-classe.png') }}"
                     alt="icon nature">
            </div>
        </a>
        <a href="#">
            <div class="thumbnail">
                <img class="miniature" src="{{ asset('bundles/flyaroundcore/images/fribourg.jpg') }}" alt="corse">
                Fribourg
                <hr>
                <img class="icon" src="{{ asset('bundles/flyaroundcore/images/geotheme-site-classe.png') }}"
                     alt="icon nature">
            </div>
        </a>
        <a href="#">
            <div class="thumbnail">
                <img class="miniature" src="{{ asset('bundles/flyaroundcore/images/corse4.jpg') }}" alt="corse">
                Calanques corses
                <hr>
                <img class="icon" src="{{ asset('bundles/flyaroundcore/images/geotheme-nature.png') }}"
                     alt="icon nature">
            </div>
        </a>
        <a href="#">
            <div class="thumbnail">
                <img class="miniature" src="{{ asset('bundles/flyaroundcore/images/millau.jpg') }}" alt="corse">
                Viaduc de Millau
                <hr>
                <img class="icon" src="{{ asset('bundles/flyaroundcore/images/geotheme-infrastructure.png') }}"
                     alt="icon nature">
            </div>
        </a>
        <a href="#">
            <div class="thumbnail">
                <img class="miniature" src="{{ asset('bundles/flyaroundcore/images/chateau.jpg') }}" alt="corse">
                Chateau de Chambord
                <hr>
                <img class="icon" src="{{ asset('bundles/flyaroundcore/images/geotheme-site-classe.png') }}"
                     alt="icon nature">
            </div>
        </a>
        <a href="#">
            <div class="thumbnail">
                <img class="miniature" src="{{ asset('bundles/flyaroundcore/images/fribourg.jpg') }}" alt="corse">
                Fribourg
                <hr>
                <img class="icon" src="{{ asset('bundles/flyaroundcore/images/geotheme-site-classe.png') }}"
                     alt="icon nature">
            </div>
        </a>
    </div>
</div>

<footer>
    <div class="center">
        <div class="w33">
            <div class="left" style="width: 350px; margin-left: 30px;">
                <img class="logo" src="{{ asset('bundles/flyaroundcore/images/logo-white.png') }}"
                     alt="logo de Flyaround" width="100px">

                <h2 style="font-size: 28px;"><b style="font-size: 30px;">fly</b>around</h2>
            </div>
        </div>
        <div class="w33 borders">
            <div class="center" style="width: 360px">
                <p>
                    "Vous souhaitez nous poser des questions, nous dire que flyaround vous ravit
                    ou simplement dire bonjour ? N'hésitez pas à nous contacter ou retrouver nous
                    sur Facebook et Twitter"
                </p>
            </div>
        </div>
        <div class="w33">
            <div class="right" style="width: 300px; margin-right: 70px;">
                <a href="#"><img class="big-icon" src="{{ asset('bundles/flyaroundcore/images/icon-email.png') }}"
                                 alt="email"></a>
                <a href="https://www.facebook.com/pages/Flyaround/541389942601829" target="_blank"><img class="big-icon"
                                                                                                        src="{{ asset('bundles/flyaroundcore/images/icon-fb.png') }}"
                                                                                                        alt="facebook"
                                                                                                        style="margin: 0 70px;"></a>
                <a href="https://twitter.com/FlyaroundFR" target="_blank"><img class="big-icon"
                                                                               src="{{ asset('bundles/flyaroundcore/images/icon-twitter.png') }}"
                                                                               alt="twitter"></a>
            </div>
        </div>
    </div>
</footer>

{# jquery est chargé en local si l'environnement est dev #}
{% if app.environment == 'dev' %}
    <script type="text/javascript" src="{{ asset('bundles/flyaroundcore/js/jquery.js') }}"></script>
{% else %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
{% endif %}
<script type="text/javascript" src="{{ asset('bundles/flyaroundcore/js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/flyaroundcore/js/carousel.js') }}"></script>

{% if not app.user %}
    <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
								<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Inscription</h3>
                </div>
                <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(registration_form) }} method="POST" class="fos_user_registration_register">
										<div class="regist">
											<br>
											<h5 class="setcol">
                    		{{ form_label(registration_form.username) }} :
											</h5>
                    	{{ form_errors(registration_form.username) }}
                   	 	{{ form_widget(registration_form.username) }}

											<br>
											
											<h5 class="setcol">
                    		{{ form_label(registration_form.email) }} :
											</h5>
                    	{{ form_errors(registration_form.email) }}
                    	{{ form_widget(registration_form.email) }}
											<br>
											
											<h5 class="setcol">
                    		{{ form_label(registration_form.plainPassword.first) }} :
											</h5>
                    	{{ form_errors(registration_form.plainPassword.first) }}
                    	{{ form_widget(registration_form.plainPassword.first) }}
											<br>
											
											<h5 class="setcol">
                    		{{ form_label(registration_form.plainPassword.second) }} :
											</h5>
                    	{{ form_errors(registration_form.plainPassword.second) }}
                    	{{ form_widget(registration_form.plainPassword.second) }}

                    	{{ form_rest(registration_form) }}
										</div>
                    <div class="registsub">
												<br>
                        <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
												<br>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="connexion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Connexion</h3>
                </div>
                <div class="modal-body" style="text-align:center">
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <label for="username" id="usertext">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
												<br>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
												<br>

                        <label for="password" id="passtext">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
												<br>
                        <input type="password" id="password" name="_password" required="required" />
												<br>

                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
												<br>
                        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}

</body>
</html>
